body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1B0A34 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Custom CSS */
.imageBackground {
  background-image: url("https://res.cloudinary.com/becued-technologies/image/upload/v1655306553/becued/assets/young-african-american-musician-playing-guitar-like-rockstar-gradient-purple-pink-background-neon-light-concept-music-hobby-joyful-guy-improvising-singing-song_2_xx7lwi.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.imageBackground img {
  width: 100%;
  height: 100%;
}

.boxImage {
  position: absolute;
}

.boxImage img {
  position: relative;
  width: 150px;
  top: 50px;
  left: 15px;
}


.formBox h1 {
  color: #fff;
  font-weight: 700;
}

.formBox p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.createAccount {
  padding: 30px;
    display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
}

.accountCreated {
  padding: 30px;
    display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
  justify-content: top center;
}

.inputField {
  background-color: transparent !important;
  padding: 25px 25px !important;
  color: #fff !important;
  border: 1px solid #686666 !important;
}


.inputSearch {
  background-color: transparent !important;
  padding: 10px 10px !important;
  color: #fff !important;
  border: 1px solid #686666 !important;
}

.buttonStyles {
  width: 100%;
  font-size: 15px;
  color: #fff !important;
  background: linear-gradient(128.3deg, #fc939d 22.92%, #F960F9 113.94%);
  padding: 25px 25px !important;
  padding-bottom: 15px;
  border-radius: 8px;
}

.pin-input{
  justify-content: left;
}


input[type="tel"] {
  max-width: 100px !important;
  height: calc(2.5em + .75rem + 20px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FD9B8A;
  background-color: transparent !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
  margin: 5px;
}

input:focus {
    outline: none !important;
    border:1px solid #FD9B8A !important;
    box-shadow: 0 0 5px #F960F9 !important;
  }

  .resendcode{
    color: #FD9B8A;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }

  p.passInfo, .input-group-prepend{
    color: #FFFFFF80;
  }



  .fontEye{
    position: absolute;
    right: 55px;
    top: 20.7%;
     color: #FFFFFF80;
     cursor: pointer;
  }

  .fontDate{
    position: absolute;
    right: 55px;
    top: 24.7%;
     color: #FFFFFF80;
     cursor: pointer;
  }

  .fa{
    font-size:20px
  }

  .links{
    color: gold;
    text-decoration: none;
  }


  .createdImage{
    width: 248px;
    height: 248px;
  }


  .navbar-brand img{
    width: 138px;
    height: 48px;
  }

  span.input-group-text{
    background: linear-gradient(180deg, #FEAD67 0%, #F960F9 100%);
    border-color: transparent;
  }

  .becuedLogo{
    width: 35px; 
    height: 35px;
    border-radius: 100%;
  }
  .becuedAvatar{
    width: 100px; 
    height: 100px;
    border-radius: 100%;
    position: relative;
    bottom: 50px;
  }

  .notified{
    border-radius: 100%;
     background: linear-gradient(180deg, #FEAD67 0%, #F960F9 100%);
     width: 22px;
     height: 22px;
     text-align: center;
     font-weight: bold;
  }

  .dropdown-menu > li{
    margin-bottom: 5px;
  }

  .dropdown-menu > li a{
    color: #fff;
    font-size: 14px
  }


  .card-body{
    background: #150829;
    color: #fff;
    border-radius: 20px 20px;
  }

  .card{
    border: 1px solid #7c7c7c33;
    background: #1B0A34;
  }
  .card-header{
    background: linear-gradient(180deg, #FEAD67 0%, #F960F9 100%);
    height: 100px;
     border: none;
  }

  .becuedCategories{
    width: 100%;
    height: 120px;
    border-radius: 10%;
  }
  .becuedCelebs{
    width: 100%;
    height: 120px;
    border-radius: 10%;
  }

  .becuedtoFollow{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  .becuedtoFollowicon{
        width: 32px;
    height: 32px;
    cursor: pointer;
  }


  .becueddetailImage{
    width: 56px;
    height: 56px;
  }

  .feedContentReaction > span.active{
    color: #F960F9;
  }

  i.active{
    color: #F960F9;
  }