body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1B0A34 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Custom CSS */
.imageBackground {
  background-image: url("https://res.cloudinary.com/becued-technologies/image/upload/v1655306553/becued/assets/young-african-american-musician-playing-guitar-like-rockstar-gradient-purple-pink-background-neon-light-concept-music-hobby-joyful-guy-improvising-singing-song_2_xx7lwi.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.imageBackground img {
  width: 100%;
  height: 100%;
}

.boxImage {
  position: absolute;
}

.boxImage img {
  position: relative;
  width: 150px;
  top: 50px;
  left: 15px;
}


.formBox h1 {
  color: #fff;
  font-weight: 700;
}

.formBox p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.createAccount {
  padding: 30px;
    display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
}

.accountCreated {
  padding: 30px;
    display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
  justify-content: top center;
}

.inputField {
  background-color: transparent !important;
  padding: 25px 25px !important;
  color: #fff !important;
  border: 1px solid #686666 !important;
}


.inputSearch {
  background-color: transparent !important;
  padding: 10px 10px !important;
  color: #fff !important;
  border: 1px solid #686666 !important;
}

.buttonStyles {
  width: 100%;
  font-size: 15px;
  color: #fff !important;
  background: linear-gradient(128.3deg, #fc939d 22.92%, #F960F9 113.94%);
  padding: 25px 25px !important;
  padding-bottom: 15px;
  border-radius: 8px;
}

.pin-input{
  justify-content: left;
}


input[type="tel"] {
  max-width: 100px !important;
  height: calc(2.5em + .75rem + 20px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FD9B8A;
  background-color: transparent !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
  margin: 5px;
}

input:focus {
    outline: none !important;
    border:1px solid #FD9B8A !important;
    box-shadow: 0 0 5px #F960F9 !important;
  }

  .resendcode{
    color: #FD9B8A;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }

  p.passInfo, .input-group-prepend{
    color: #FFFFFF80;
  }



  .fontEye{
    position: absolute;
    right: 55px;
    top: 20.7%;
     color: #FFFFFF80;
     cursor: pointer;
  }

  .fontDate{
    position: absolute;
    right: 55px;
    top: 24.7%;
     color: #FFFFFF80;
     cursor: pointer;
  }

  .fa{
    font-size:20px
  }

  .links{
    color: gold;
    text-decoration: none;
  }


  .createdImage{
    width: 248px;
    height: 248px;
  }


  .navbar-brand img{
    width: 138px;
    height: 48px;
  }

  span.input-group-text{
    background: linear-gradient(180deg, #FEAD67 0%, #F960F9 100%);
    border-color: transparent;
  }

  .becuedLogo{
    width: 35px; 
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
  }
  .becuedAvatar{
    width: 100px; 
    height: 100px;
    border-radius: 100%;
    position: relative;
    bottom: 50px;
    object-fit:cover;
  }

  .notified{
    border-radius: 100%;
     background: linear-gradient(180deg, #FEAD67 0%, #F960F9 100%);
     width: 22px;
     height: 22px;
     text-align: center;
     font-weight: bold;
  }

  .dropdown-menu > li{
    margin-bottom: 5px;
  }

  .dropdown-menu > li a{
    color: #fff;
    font-size: 14px
  }


  .card-body{
    background: #150829;
    color: #fff;
    border-radius: 20px 20px;
  }

  .card{
    border: 1px solid #7c7c7c33;
    background: #1B0A34;
  }
  .card-header{
    background: linear-gradient(180deg, #FEAD67 0%, #F960F9 100%);
    height: 100px;
     border: none;
  }

  .becuedCategories{
    width: 100%;
    height: 120px;
    border-radius: 10%;
  }
  .becuedaddInterest{
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 10%;
  }
  .becuedReviews{
   height: 202px;
width: 210px;
border-radius: 16px;
object-fit: cover;

  }


  .fa-star {
    font-size: 12px;
  }
  .fa-star.active {
    color: #FADB14;
  }


  .becuedDiscoverImages{
    width: 180px;
    height: 180px;
    border-radius: 16px;
    object-fit: cover;
  }

  .becuedShoutOut{
    max-width: 100%;
    width: 700px;
    max-height: inherit;
    height: 300px;
    object-fit: cover;
  }


  .becuedDiscoveryCategories{
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .discoverCategoryList{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
  }

.discoverCategoryList li{
  margin-left: 5px;
}


  .becuedCelebs{
    width: 100%;
    height: 120px;
    border-radius: 10%;
    object-fit: cover;
  }

  .becuedtoFollow{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  .becuedtoFollowicon{
        width: 32px;
    height: 32px;
    cursor: pointer;
  }


  .becueddetailImage{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    object-fit: contain;
  }

   .feedContentReaction > span{
    position: relative;
    right: 15px;
    font-size: 15px;
   }

  .feedContentReaction > span.active{
    color: #F960F9;
  }

  i.active{
    color: #F960F9;
  }

  .signinIcon{
    font-size: 23px;
  }
  .socialSignInBtn{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .socialSignInBtn:hover{
    background: linear-gradient(180deg, #FEAD67 0%, #F960F9 100%) !important;
    color: #fff !important;
  }


      .boxItem {
        width: 100% !important;
        background-image: none;
        padding: 50px 10px;
        background-color: #150829;
        height: auto;
        position: relative;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide {
        width: 80%;
    }



    .mySwiper {
        height: auto;
        object-fit: cover;
        background-color: transparent;
        justify-content: center;
    }

    .videowrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .videowrapper>img {
        height: 100%;
    }

    .celebImage {
        height: 69px;
        width: 69px;
        border-radius: 50000px;
    }

    .celebName {
      font-family: Inter;
      font-size: 32px;
      font-weight: 700;
      line-height: 39px;

    }
    

    .star>span {
        font-size: 14px;
        height: 17px;
        width: 21px;
        left: 891px;
        top: 129px;

    }

    .btn {
        /* height: 56px; */
        /* width: 200px; */
        left: 0px;
        top: 0px;
        border-radius: 8px;
        color: #fff;
        margin-top: 30px;

    }

    .btnBook {
        background: linear-gradient(128.3deg, #FEAD67 -22.92%, #F960F9 113.94%);
        width: 100% !important;
        border: none;
    }
    .btnBook:hover {
        background: linear-gradient(128.3deg, #F960F9 -22.92%, #5B6BFD 113.94%);
        width: 100% !important;
        color: #fff;
    }

    .btnFollow {
        background: #5B6BFD;
        border: none;
        width: 100% !important;
    }

    .btnFollow:hover {
        background: linear-gradient(128.3deg, #5B6BFD -22.92%, #F960F9 113.94%);
        width: 100% !important;
        color: #fff;
    }

    .modal-content {
        height: inherit !important;
        background: #150929;
    }

    .play-btn {
    position: relative;
    cursor: pointer;
    z-index: 1000000000;
    margin: 0 auto;
    display: block;
    top: 290px;
}

.becuedProfileAvatar{
  width: 100px;
  height: 100px
}

.tablisting a{
  background: transparent !important;
    border: none !important;
    color: #A3A4B2;
}

.tablisting > a.active{
  background: transparent !important;
        color: #fa6be6 !important;
        border-bottom: 1px solid #fa6be6 !important;
}


.paymentBank{
  background: #341C54;
}

.payment{
  background: #341C54;
}

.itemBooked{
   background: rgba(255, 255, 255, 0.04);
   border-radius: 10px;
}

.bookedCategory{
   background: rgba(255, 255, 255, 0.06);
   border-radius: 10px;
   padding: 7px;
   font-size: 12px;
}

.imageHouse{
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
}
.bookImage{
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: relative;
  top: 5%;
  left: 0;
  right: 20%;
  bottom: 10%;
}
.bookTypeImage{
    width: 36px;
  height: 36px;
  border-radius: 100%;
}
.buttonSpace{
  width: 554px;
  max-width: 100%;

}
.bookTypeBtn{
  width: 100%;
  height: 64px;
  border-radius: 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.1);
}

.bookTypeInfo{
  text-align:center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #78335c;
  height: 54px;
  width: 100%;
  margin-top: 150px;
}


.catSearch{
  font-size: 10px;
  color: #fa6be6 !important;
}

.itemBookedRow{
  padding: 30px
}

.MuiListItemText-secondary {
  color: #5f5b66 !important;
}

@media (max-width: 767px){
  .disp-large{
    display: none;
  }
  .myInfo {
    text-align: center;
}
}
